/*Created by Jamie Van Winckel*/
body {
  background-color: IndianRed;
  font-family: "Ariel Verdana", san serif;
}
.oneLine {
  display: inline-block;
}

.colortext {
  color: yellow;
}
.bodySetup {
  font-family: Ariel, Verdana;
  font-size: x-large;
  color: DarkSlateBlue;
  margin: auto;
  display: block;
  width: 50%;
}
